<%= form_with(model: fimage64, local: true) do |form| %>
  <% if fimage64.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fimage64.errors.count, "error") %> prohibited this fimage64 from being saved:</h2>

      <ul>
      <% fimage64.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :fimage64_image %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :fimage64_tag %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :fimage64_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
