<p id="notice"><%= notice %></p>

<h1>Fimage64s</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Tag</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fimage64s.each do |fimage64| %>
      <tr>
        <td><%= fimage64.image %></td>
        <td><%= fimage64.tag %></td>
        <td><%= fimage64.name %></td>
        <td><%= link_to 'Show', fimage64 %></td>
        <td><%= link_to 'Edit', edit_fimage64_path(fimage64) %></td>
        <td><%= link_to 'Destroy', fimage64, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fimage64', new_fimage64_path %>
