<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @fimage64.image %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @fimage64.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fimage64.name %>
</p>

<%= link_to 'Edit', edit_fimage64_path(@fimage64) %> |
<%= link_to 'Back', fimage64s_path %>
