<%= form_with(model: face, local: true) do |form| %>
  <% if face.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(face.errors.count, "error") %> prohibited this face from being saved:</h2>

      <ul>
      <% face.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :filename %>
    <%= form.file_field :filename, id: :face_filename %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :face_description %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :face_age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :face_gender %>
  </div>

  <div class="field">
    <%= form.label :sentiment %>
    <%= form.text_field :sentiment, id: :face_sentiment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
