<p id="notice"><%= notice %></p>

<h1>Faces</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Description</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Sentiment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faces.each do |face| %>
      <tr>
        <td><%= face.filename %></td>
        <td><%= face.description %></td>
        <td><%= face.age %></td>
        <td><%= face.gender %></td>
        <td><%= face.sentiment %></td>
        <td><%= link_to 'Show', face %></td>
        <td><%= link_to 'Edit', edit_face_path(face) %></td>
        <td><%= link_to 'Destroy', face, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Face', new_face_path %>
