<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= image_tag @face.filename %>
</p>

<p>
  <strong>Description:</strong>
  <%= @face.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @face.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @face.gender %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @face.sentiment %>
</p>

<%= link_to 'Edit', edit_face_path(@face) %> |
<%= link_to 'Back', faces_path %>
